body{
}
header{
    font-family:cursive;
    font-size: x-large;
    color: black;
    background-color:whitesmoke;
    
    }

#home-page{
  background-image: url('img/_1010708.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
a:link,
a:visited,
a:hover,
a:active {
  color: black; /* Sets the text color to black */
  /* Optional: You can also remove the default underline */
  text-decoration: none; 
}

.topnav a {
  float: right;
  text-decoration: none;
  font-size: 22px;
  
  
}
header {
  position: relative;
  text-align: center;   /* centers the h1 horizontally */
  padding: 20px;
}

header h1 {
  margin: 0;
}

header nav {
  position: absolute;
  top: 10px;   /* adjust for spacing */
  right: 20px;
}

.topnav a {
    margin-left: 15px;

  text-decoration: none;
}









