body{
}
header{
    font-family:cursive;
    font-size: x-large;
    color: black;
    background-color:whitesmoke;
    
    }

#home-page{
  background-image: url('img/_1010708.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
a:link,
a:visited,
a:hover,
a:active {
  color: black; /* Sets the text color to black */
  /* Optional: You can also remove the default underline */
  text-decoration: none; 
}
img.rocky {
  width: 300px;
  height: 250px;
  padding: 5%
}
img.champagne {
  width: 384px;
  height: 512px;
  padding: 5%;
}
img.red {
  width: 384px;
  height: 512px;
  padding: 5%;
}
img.grad {
  width: 384px;
  height: 512px;
  padding: 5%;
}
img.bath {
  width: 300px;
  height: 275px;
  padding: 5%;
}
img.pumpkin2 {
  width: 250px;
  height: 250px;
  padding: 5%;
}
img.goose {
  width: 300px;
  height: 250px;
  padding: 5%;
}

.topnav a {
  float: right;
  text-decoration: none;
  font-size: 22px;
  
  
}
header {
  position: relative;
  text-align: center;   /* centers the h1 horizontally */
  padding: 20px;
}

header h1 {
  margin: 0;
}

header nav {
  position: absolute;
  top: 10px;   /* adjust for spacing */
  right: 20px;
}

.topnav a {
    margin-left: 15px;

  text-decoration: none;
}









